@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000; /* Ensure the navigation bar stays on top */
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: #555;
}

.sectionSpacing{
  padding: 50px 0;
  height: 100vh;
}